<%= form_for list do |f| %>
  <div class="form-group">
    <div>
      <%= f.text_field :title, placeholder: 'digite uma lista...', class: 'form-control title-input' %>
    </div>
    <div>
      <%= f.submit "Criar Lista", class: 'form-control btn-login' %>
    </div>
  </div>
<% end %>

