<div class="form">
  <%= form_for list do |f| %>
    <div class="form-group">
      <%= f.label :title, class: "form-control-title" %>
      <%= f.text_field :title, placeholder: 'digite uma lista...', class: 'form-control-input' %>
      <%= f.submit class: 'btn-form' %>
    </div>
  <% end %>
</div>
