<div class="content">
  <div class="lists">
    <% if @lists.any? %>
      <% @lists.each do |list| %>
        <div class="list">
          <h2><%= render list %></h2>
          <div class="lists-footer">
            <%= link_to "Ver lista", list, class: "show-list" %>
            <% if !list.items.any? %>
              <%= button_to 'Deletar', list_path(list), method: :delete, class: "del-list-btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
    <% else %>
      <p class="empty-items">Ainda não há listas. <%= link_to 'Adicionar lista', new_list_path %></p>
    <% end %>
  </div>
</div>

