<div class="new-card">
  <h2 class="new-title">Nova lista</h2>
  <div class="new-form">
    <%= render "form", list: @list %>
  </div>
  <%= link_to "Voltar", lists_path, style: "color: #151F30; font-size: 1.2rem"  %>
</div>

