<div class="new">
  <div class="new-card">
    <h1 class="new-title">Nova lista</h1>

    <%= render "form", list: @list %>

    <div class="link-back">
      <%= link_to "Voltar", lists_path, class:'new-back' %>
    </div>
  </div>
</div>
