<%= form_for [@list, @item] do |f| %>
  <div class="form-group">
    <div class="">
      <%= f.text_field :title, placeholder: 'digite um item...', class: 'form-control title-input' %>
    </div>
    <div class="">
      <%= f.submit "Criar Item", class: 'form-control btn-login' %>
    </div>
  </div>
<% end %>

