<div>
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= item.complete %>
  </p>

  <p>
    <strong>List:</strong>
    <%= item.list_id %>
  </p>

</div>
