<div class="new">
  <div class="new-card">
    <h1 class="new-title">Novo item</h1>

    <%= render "form" %>

    <div class="link-back">
      <%= link_to "Voltar", @list, class:'new-back' %>
    </div>
  </div>
</div>

