<div class="new-card">
  <h1 class="new-title">Novo item</h1>
    <div class="new-form">
      <%= render "form" %>
    </div>
  <%= link_to "Voltar", @list, style: "color: #151F30; font-size: 1.2rem" %>
</div>
