* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #E3371E;
  margin-bottom: 20px;
}

.title {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.nav-link {
  padding: 8px;
  background-color: #FF7A48;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lists {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.list {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h2 {
  color: #151F30;
}

.list-items-card {
  height: 50% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  min-width: 300px;
  min-height: 300px;
  height: auto;
}

.list-title {
  color: #151F30;
  text-align: center;
  margin-bottom: 10px;
}

.list-item {
  text-align: left;
  font-size: 1.4rem;
}

.list-items-links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.items-link {
  width: 100px;
  height: 30px;
  padding: 10px;
  line-height: 50%;
  text-align: center;
  background-color: #0593A2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.lists-footer {
  display: flex;
  gap: 10px;
}

.del-list-btn {
  background-color: #E3371E;
  padding: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.show-list {
  background-color: #0593A2;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.empty-items {
  text-align: center;
}

/* form lists and items */

.form {
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  padding: 10px;
}

.form-group {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.form-control {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-form {
  margin-top: 10px;
  height: 30px;
  padding: 10px;
  line-height: 50%;
  text-align: center;
  background-color: #0593A2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.title-input {
  border: 1px solid #5ed7e57e;
  height: 50px;
  margin-bottom: 15px;
}

.new-card {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-title {
  font-size: 2rem;
  text-align: center;
  color: #151F30;
}

.new-form {
  width: 100%;
  padding: 10px;
}

.link-back {
  text-align: center;
}

/* users */

.btn-logout {
  background-color: #FF7A48;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.user-form {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form-fields {
  width: 100%;
  padding: 10px;
}

.field {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.email, .password {
  border: 1px solid #5ed7e57e;
  margin-bottom: 15px;
}

.field:focus {
  border: 1px solid #0593A2;
}

.btn-login {
  margin-bottom: 15px;
  background-color: #0593A2;
  color: white;
  border: none;
  cursor: pointer;
}

.form-field {
  width: 100%;
}

.remember-field {
  font-size: 1.2rem;
  color: #0593A2;
  cursor: pointer;
}

/* media screen */
@media screen and (max-width: 500px) {
  .list {
    width: 170px;
  }
}