<%if user_signed_in? %>
  <nav class="nav">
    <%= link_to 'My Lists', root_path, class: 'title' %>
    <div class="">
      <ul class="navbar">
        <% if user_signed_in? %>
          <% if @list %>
            <%= link_to 'Listas', lists_path, class: 'nav-link' %>
          <% end %>
          <%= link_to 'Nova Lista', new_list_path, class: 'nav-link' %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn-logout' %>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>