<nav class="nav">
  <%= link_to 'My Lists', root_path, class: 'title' %>

  <div class="">
    <ul class="navbar">
      <li class="nav-item">
        <%= link_to 'Todo List', lists_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Novo Todo List', new_list_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
